html[data-theme='light'] {
    font-family: 'Segoe UI';
    font-size: small;
    font-weight: 400;
    --bg: #f1f3f3;
    --primary: #eff0f0bb;
    --secundary: #79a3b1;
    --secundary2: #87aebb;
    --terciary: #dadada;
    --terciary2: #dfddde;
    --opcao1 :#216B82;
    --opcao2 : #1E7F9D;
}
html[data-theme='special'] {
    font-family: 'Segoe UI';
    font-size: small;
    font-weight: 400;
    --bg: #ffffff;
    --primary: #eff0f05d;
    --secundary: #79a3b1;
    --secundary2: #1E7F9D;
    --terciary: #dadada;
    --terciary2: #dfddde;
}
html[data-theme='dark'] {
    font-family: 'Segoe UI';
    --bg: #303841;
    --primary: #3a4750;
    --secundary: #00adb5;
    --terciary: #eeeeee;    
}
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--primary);
}
body {
    margin-top: 5px;
    padding: 10px;
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-end; */
}
div#buttons {
    justify-content: flex-end;
}
#img2 {
    padding: 0px;
}
#selects2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* width: 60%; */
}
input[type='checkbox'] {
    width: 30px;
}
table, tr, td, tr {
    text-align: center;
    align-items: center;
}
table {
    margin-left: 30px;
}
.tableText {
    width: 80px;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    margin-left: 10px;
}
#divimg {
    width: 50%;
    align-items: center;
    justify-content: center;
}
#divimg2 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
#axes span {
    /* align-items: center; */
    /* justify-content: center; */
    display: none;
    z-index: 100;
    padding: 0px;
}
#axes:hover span {
    display: block; 
    position: absolute; 
    top: 45%; 
    left: 50%; 
    transform:translate(-50%, -50%);
    border: 1px #b6b5b5 solid;
    transition: 20ms;
}
label {
    padding-right: 10px;
}
label#radioLabel {
    padding-right: 50px;
}
select {
    max-width: 130px;
    min-width: 80px;
    border: none;
    border: solid #E2E6EA;
    border-width: thin;
    border-radius: 2px;
    transition: 0.3s;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Segoe UI';
    font-size: small;
    -moz-appearance: textfield;
    appearance: textfield;
}
select:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    border-color: var(--secundary);
    box-shadow: 0 0 1px 0 var(--secundary);
}
button {
    width: 80px;
    color: var(--bg);
    background-color: var(--secundary);
    border: 1px solid var(--secundary);
    border-radius: 5px;
    padding: 6px;
    font-family: 'Segoe UI';
    text-align: center;
    margin: 5px;
}
button:hover {
    cursor: pointer;
    color: var(--bg);
    background-color: var(--secundary2);
    border: 1px solid var(--secundary2);
    border-radius: 5px;
    padding: 6px
}
button:active {
    border: 1px solid;
    background-color: var(--secundary);
    border-color: var(--bg);
    box-shadow: 0 0 3px 0 var(--bg);
    transition: 0.1s;

}
button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
#downloadButton, #searchButton {
    background-color: #edf0f3b6;
    color: black;
    border: solid #E2E6EA;
    border-width: thin;
    padding: 1px;
    /* font-family: 'Segoe UI'; */
    width: 80px;
    height: 25px;
    border-radius: 2px;
    cursor: pointer;
}
#downloadButton {
    width: auto;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 22px;
}
#downloadButton:hover, #searchButton:hover {
    background-color: #e2e6eabd;
    border: solid #E2E6EA;
    border-width: thin;
}
#downloadButton:active, #searchButton:active{
    background-color: #E2E6EA;
    /* border-color: dodgerblue; */
    /* box-shadow: 0 0 3px 0 dodgerblue; */
    transition: 0.1s;

}
#downloadButton:focus, #searchButton:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
#inputTable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
#downloadTable {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* justify-content: start; */
    margin-bottom: 20px;
}
input {
    width: auto;
    flex: 1;
    border: none;
    border: solid #E2E6EA;
    border-width: thin;
    border-radius: 2px;
    transition: 0.3s;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Segoe UI';
    font-size: small;
    -moz-appearance: textfield;
    appearance: textfield;
}
input:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    border-color: var(--secundary);
    box-shadow: 0 0 1px 0 var(--secundary);
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    /* padding-left: 35px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--terciary);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: var(--terciary2);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--secundary2);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
