html[data-theme='light'] {
    font-family: 'Segoe UI';
    font-size: small;
    font-weight: 400;
    --bg: #f1f3f3;
    --primary: #eff0f0bb;
    --secundary: #79a3b1;
    --secundary2: #87aebb;
    --terciary: #dadada;
    --terciary2: #dfddde;
    --opcao1 :#216B82;
    --opcao2 : #1E7F9D;
}
html[data-theme='special'] {
    font-family: 'Segoe UI';
    font-size: small;
    font-weight: 400;
    --bg: #ffffff;
    --primary: #eff0f05d;
    --secundary: #79a3b1;
    --secundary2: #1E7F9D;
    --terciary: #dadada;
    --terciary2: #dfddde;
}
html[data-theme='dark'] {
    font-family: 'Segoe UI';
    --bg: #303841;
    --primary: #3a4750;
    --secundary: #00adb5;
    --terciary: #eeeeee;    
}
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--primary);
}
body {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section {
    display: flex;
    flex-direction: row;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#list {
    background-color: var(--bg);
    padding: 0px;
    width: 200px;
    height: 160px;
    overflow: auto;
    border: 1px solid rgb(212, 212, 212)
}
label {
    padding-right: 13px;
}
#dens {
    padding-right: 7px;
}
button {
    width: 80px;
    color: var(--bg);
    background-color: var(--secundary);
    border: 1px solid var(--secundary);
    border-radius: 5px;
    padding: 6px;
    font-family: 'Segoe UI';
    text-align: center;
    margin: 5px;
}
button:hover {
    cursor: pointer;
    color: var(--bg);
    background-color: var(--secundary2);
    border: 1px solid var(--secundary2);
    border-radius: 5px;
    padding: 6px
}
button:active {
    border: 1px solid;
    background-color: var(--secundary);
    border-color: var(--bg);
    box-shadow: 0 0 3px 0 var(--bg);
    transition: 0.1s;

}
button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.materialTag {
    margin: 0px;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-left: 10px;
}
.materialTag:hover[name= 'non-selected'] {
    background-color: rgb(219, 219, 219)!important;
}
.materialTag[name='selected'] {
    background-color: cornflowerblue;
}
