*,
*::before,
*::after {
  box-sizing: unset
}
html[data-theme='light'] {
    font-family: 'Segoe UI';
    font-size: small;
    font-weight: 400;
    --bg: #f1f3f3;
    --primary: #eff0f0bb;
    --secundary: #79a3b1;
    --secundary2: #87aebb;
    --terciary: #dadada;
    --terciary2: #dfddde;
    --opcao1 :#216B82;
    --opcao2 : #1E7F9D;
}
html[data-theme='special'] {
    font-family: 'Segoe UI';
    font-size: small;
    font-weight: 400;
    --bg: #ffffff;
    --primary: #eff0f05d;
    --secundary: #79a3b1;
    --secundary2: #1E7F9D;
    --terciary: #dadada;
    --terciary2: #dfddde;
}
html[data-theme='dark'] {
    font-family: 'Segoe UI';
    --bg: #303841;
    --primary: #3a4750;
    --secundary: #00adb5;
    --terciary: #eeeeee;    
}
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--primary);
}
body {
    margin-top: 20px;
    padding: 10px;
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}
div {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
}
div#buttons {
    justify-content: flex-end;
}
#inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}
div#img {
    width: 120px;
    align-items: center;
    justify-content: center;
}
label {
    padding-right: 10px;
}
label#radioLabel {
    padding-right: 50px;
}
select {
    max-width: 130px;
    min-width: 80px;
    border: none;
    border: solid #E2E6EA;
    border-width: thin;
    border-radius: 2px;
    transition: 0.3s;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Segoe UI';
    font-size: small;
    -moz-appearance: textfield;
    appearance: textfield;
}
select:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    border-color: var(--secundary);
    box-shadow: 0 0 1px 0 var(--secundary);
}
button {
    width: 80px;
    color: var(--bg);
    background-color: var(--secundary);
    border: 1px solid var(--secundary);
    border-radius: 5px;
    padding: 6px;
    font-family: 'Segoe UI';
    text-align: center;
    margin: 5px;
}
button:hover {
    cursor: pointer;
    color: var(--bg);
    background-color: var(--secundary2);
    border: 1px solid var(--secundary2);
    border-radius: 5px;
    padding: 6px
}
button:active {
    border: 1px solid;
    background-color: var(--secundary);
    border-color: var(--bg);
    box-shadow: 0 0 3px 0 var(--bg);
    transition: 0.1s;

}
button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
input {
    width: 100px;
    border: none;
    border: solid #E2E6EA;
    border-width: thin;
    border-radius: 2px;
    transition: 0.3s;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Segoe UI';
    font-size: small;
    -moz-appearance: textfield;
    appearance: textfield;
}
input:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    border-color: var(--secundary);
    box-shadow: 0 0 1px 0 var(--secundary);
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: var(--terciary);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: var(--terciary2);
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--secundary)
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }