html[data-theme='light'] {
    font-family: 'Segoe UI';
    font-size: small;
    font-weight: 400;
    --bg: #f1f3f3;
    --primary: #eff0f0bb;
    --secundary: #79a3b1;
    --secundary2: #87aebb;
    --terciary: #dadada;
    --terciary2: #dfddde;
    --opcao1 :#216B82;
    --opcao2 : #1E7F9D;
}
html[data-theme='special'] {
    font-family: 'Segoe UI';
    font-size: small;
    font-weight: 400;
    --bg: #eff0f05d;
    --primary: #eff0f05d;
    --secundary: #1E7F9D;
    --secundary2: #2788a5;
    --terciary: #dadada;
    --terciary2: #dfddde;
    --text1: #ffffff;
}
html[data-theme='dark'] {
    font-family: 'Segoe UI';
    --bg: #303841;
    --primary: #3a4750;
    --secundary: #00adb5;
    --terciary: #eeeeee;    
}
body {
    background-color: var(--bg);
    padding: 7px;
}
h3 {
    color: black;
    font-size: small;
    font-family:'Spartan', sans-serif;
    font-size: 13px;
    font-weight: 200;
    padding-bottom: 0px;
    margin-bottom: 2px;
}
#container1, #container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
#container2 {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
}
#container4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 40px;
}
#analysiType {
    background-color: var(--primary);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(167, 166, 166, 0.158);
    height: 70px;
}
#geometry {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: var(--primary); */
    padding: 30px;
    border-radius: 5px;
    width: 90%;
    /* border: 1px solid rgba(167, 166, 166, 0.158); */
}
.geometryIcon {
    padding: 5px;
    /* margin-left: 0.2em; */
    /* margin-right: 0.2em; */
    cursor: pointer;
}
#discretization, #loading, #boundaryConditions{
    background-color: var(--primary);
    height: 70px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(167, 166, 166, 0.158);
}
#materialProps {
    background-color: var(--primary);
    height: 70px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(167, 166, 166, 0.158);
}
button {
    color: var(--secundary);
    background-color: var(--primary);
    border: 1px solid var(--secundary);
    border-radius: 3px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    /* margin: 10px; */
    font-family: 'Segoe UI';
    text-align: center;
}
button:hover {
    cursor: pointer;
    color: var(--text1);
    background-color: var(--secundary2);
    border: 1px solid var(--secundary2);
}
button:active {
    border: 1px solid;
    background-color: var(--secundary);
    border-color: var(--bg);
    box-shadow: 0 0 3px 0 var(--bg);
    transition: 0.1s;

}
button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
#special-button {
  color: var(--text1);
  background-color: var(--secundary);
  padding: 7px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 5px;
}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: var(--terciary);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: var(--terciary2);
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--secundary)
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  select {
    border: 1px solid var(--secundary);
    border-radius: 2px;
    width: 80px;
    background-color: var(--primary);
  }
  select:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;

  }
  select::-webkit-inner-spin-button { 
    -webkit-appearance: none;   
  }